.py-base {
  padding-block: var(--py-base); /*define o eixo vertical*/
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 375px;
  width: min(
    var(--max-width),
    100% - var(--px-lg) * 2
  ); /*24px vezes os 2 lados*/
  margin-inline: auto;
  border: solid violet;
}

.desktop-only {
  /*porque está sendo construído primeiro para o mobile*/
  display: none;
}

.even-columns {
  /*colunas constantes, estamos trabalhando para que fique um abaixo do outro*/
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial; /*vai pegar o display inicial da tag específica, por exemplo: div -> display block, span -> display inline*/
  }

  .even-columns {
    /*aqui aparecerá um ao lado do outro*/
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
